.card {
  $comp: &;
  position: relative;

  &:hover {
    #{$comp}__main {
      visibility: hidden;
      opacity: 0;
    }
    #{$comp}__descr {
      visibility: visible;
      opacity: 1;
    }
    #{$comp}__image {
      transform: scale(1.1);
    }
  }
  &__item {
    width: rem(896px);
    height: rem(536px);
    border-radius: rem(6px);
    padding: rem(8px);
    background-color: #F1F3F4;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: rem(9px);
    @media#{media("<", d)} {
      width: rem(351px);
      height: rem(453px);
      border-radius: rem(4px);
      display: grid;
      grid-template-columns: 1fr;
      justify-content: space-between;
      column-gap: rem(0px);
    }
    @media#{media("<", d)} {

    }
  }
  &__photo {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media#{media("<", d)} {
      height: rem(220px);
    }
  }
  &__image {
    width: rem(280px);
    height: rem(377px);
    transition: transform 0.6s ease-in-out;
    img {
      display: block;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    @media#{media("<", d)} {
      width: rem(250px);
      height: rem(160px);
    }
  }
  &__stikers {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__icons {
    position: absolute;
    top: 0;
    left: 0;
  }


  &__info {
    position: relative;
    width: rem(436px);
    padding: rem(40px);
    background-color: #FFF;
    border-radius: rem(4px);
    @media#{media("<", d)} {
      width: 100%;
      height: rem(217px);
      padding: rem(15px) rem(16px);
    }
  }
  &__base {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: rem(20px);
    transition: opacity .8s ease-in-out;
    @media#{media("<", d)} {
      row-gap: rem(12px);
    }
  }
  &__title {
    font-size: rem(40px);
    line-height: rem(44px);
    font-weight: 400;
    letter-spacing: -1%;
    font-family: $rubic;
    text-transform: uppercase;
    color: #0E2245;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @media#{media("<", d)} {
      font-size: rem(20px);
      line-height: rem(24px);
      letter-spacing: -2%;
      -webkit-line-clamp: 1;
    }
  }
  &__header {
  }
  &__hat {
    display: inline-block;
    background-color: #F1F3F4;
    font-size: rem(16px);
    line-height: rem(24px);
    letter-spacing: -1%;
    padding: rem(8px) rem(16px);
    color: #898F9A;
    @media#{media("<", d)} {
      font-size: rem(12px);
      line-height: rem(18px);
      padding: rem(4px) rem(12px);
    }
  }
  &__text {
    font-size: rem(20px);
    line-height: rem(30px);
    letter-spacing: -1%;
    color: #0E2245;
    font-family: $rubic;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    &_more {
      -webkit-line-clamp: 9;
    }
    @media#{media("<", d)} {
      font-size: rem(12px);
      line-height: rem(18px);
      -webkit-line-clamp: 3;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: flex-end;
  }
  &__price {
    font-size: rem(32px);
    line-height: rem(41px);
    font-weight: 400;
    letter-spacing: -1%;
    color: #0E2245;
    font-family: $rubic;
    @media#{media("<", d)} {
      font-size: rem(18px);
      line-height: rem(23px);
    }
  }
  &__dop-info {
    display: block;
    font-size: rem(16px);
    line-height: rem(24px);
    font-weight: 400;
    letter-spacing: -1%;
    color: #898F9A;
    font-family: $rubic;
    padding-top: rem(6px);
    @media#{media("<", d)} {
      font-size: rem(12px);
      line-height: rem(18px);
    }
  }
  &__arrow {
    cursor: pointer;
    display: flex;
    width: rem(24px);
    height: rem(24px);
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    svg {
      width: 100%;
      height: 100%;
    }
    @media#{media("<", d)} {
      width: rem(16px);
      height: rem(16px);
    }
  }

  &__descr {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    inset: 0;
    background-color: #FFF;
    visibility: hidden;
    opacity: 0;
    transition: opacity .8s ease-in-out;
    padding: rem(40px);
  }


}
